<%= render "shared/errors", obj: @article %>


<div class="row">
    <div class="col-x-s12">
<%= form_for(@article, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
    <div class="form-group">
        <div class="control-label cl-sm-2">
            <%= f.label :Naslov %>
        </div>
        <div class="cool-sm-8">
        <%= f.text_field :title, class:"form-control", placeholder:"Title of article", autofocus: true %>
        </div>
    </div>
   <div class="form-group">
        <div class="control-label cl-sm-2">
            <%= f.label :Tekst %>
        </div>
    </div>
        <div class="cool-sm-8">
            <%= f.text_area :description, rows: 5, class:"form-control", placeholder:"Description of article" %>
        </div>
    <div class"form-group">
        <div class="cool-sm-10">
            <%= f.submit :Objavi, class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
<div class="col-xs-4 col-xs-offset-4">
<%= link_to "Go back to articles list", articles_path %>
</div>
<% end %>
    
</div>